---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "Contact";
---
<BaseLayout pageTitle={pageTitle}>
    <!--Contact-->
    <section class="contact section" id="contact">
        <h2 class="section-title">Contact</h2>

        <div class="contact__container bd-grid">
            <form action="https://formspree.io/f/xqkonwqq" class="contact__form" method="post">
                <input name="nama" type="text" placeholder="Name" class="contact__input">
                <input name="email" type="mail" placeholder="Email" class="contact__input">
                <textarea name="pesan" id="" placeholder="Please enter your message here" cols="0" rows="5" class="contact__input"></textarea>
                <input type="submit" value="Submit" class="contact__button button">
            </form>
        </div>
    </section>
</BaseLayout>
