---
import BaseLayout from '../layouts/BaseLayout.astro';

import HomeLayouts from "../layouts/HomeLayouts.astro";
import AboutLayouts from "../layouts/AboutLayouts.astro";
import SkillsLayouts from "../layouts/SkillsLayouts.astro";
import ContactLayouts from "../layouts/ContactLayouts.astro";

const pageTitle = "Beranda";

---

<BaseLayout pageTitle={pageTitle}>
    <main class="l-main">
        <HomeLayouts />
        <AboutLayouts />
        <SkillsLayouts />
        <ContactLayouts />
    </main>    
</BaseLayout>
