---
import BaseLayout from '../layouts/BaseLayout.astro';
import SkillsLayout from '../layouts/SkillsLayout.astro'
const pageTitle = "My skills";
---
<BaseLayout pageTitle={pageTitle}>
    <!--Skills-->
    <section class="skills section" id="skills">
        <h2 class="section-title">Keahlian</h2>
        <h2 class="skills__subtitle">Professional Skills</h2>
        <p class="skills__text">Berikut adalah beberapa bahasa pemrograman dan alat yang saya gunakan untuk pengembangan sistem.</p>
        <div class="skills__container bd-grid">
            <SkillsLayout></SkillsLayout>
        </div>
    </section>
</BaseLayout>