---
import Navigation from './Navigation.astro';
---
<!--Header-->
<header class="l-header">
    <nav class="nav bd-grid">
        <div>
            <a href="/" class="nav__logo">Portfolio</a>
        </div>
        <Navigation />
        <div class="nav__toggle" id="nav-toggle">
            <i class='bx bx-menu'></i>
        </div>
    </nav>
</header>

<style>
.nav__toggle {
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}
</style>

<script>
    /*===== MENU SHOW =====*/ 
    const showMenu = (toggleId, navId) =>{
        const toggle = document.getElementById(toggleId),
        nav = document.getElementById(navId)

        if(toggle && nav){
            toggle.addEventListener('click', ()=>{
                nav.classList.toggle('show')
            })
        }
    }
    showMenu('nav-toggle','nav-menu')
</script>