---

---

<div class="nav__menu" id="nav-menu">
    <ul class="nav__list">
        <li class="nav__item"><a href="/" class="nav__link">Home</a></li>
        <li class="nav__item"><a href="about" class="nav__link">About</a></li>
        <li class="nav__item"><a href="skills" class="nav__link">Skills</a></li>
        <li class="nav__item"><a href="contact" class="nav__link">Contact</a></li>
    </ul>
</div>

<style>
@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--second-color);
    transition: .5s;
  }
}

.nav__item {
  margin-bottom: var(--mb-4);
}

.nav__link {
  position: relative;
  color: #fff;
}

.nav__link:hover {
  position: relative;
}

.nav__link:hover::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

/*Active menu*/
.active::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}
</style>

<script>
    // Menambahkan kelas "active" ke tautan navigasi yang sesuai dengan halaman saat ini
    function setActiveNav(navId: string) {
      const currentPath = window.location.pathname; // Mengambil path halaman saat ini
    
      // Mencari elemen tautan navigasi dengan href yang sama dengan path halaman saat ini
      const navLink = document.querySelector(`${navId} .nav__link[href="${currentPath}"]`);
    
      // Menambahkan kelas "active" ke tautan navigasi yang ditemukan (jika ada)
      if (navLink) {
        navLink.classList.add('active');
      }
    }
  
    // Memanggil fungsi setActiveNav setiap kali halaman dimuat
    window.addEventListener('load', setActiveNav);

    /*===== MENU SHOW =====*/ 
    const showMenu = (toggleId, navId) =>{
        const toggle = document.getElementById(toggleId),
        nav = document.getElementById(navId)

        if(toggle && nav){
          toggle.addEventListener('click', ()=>{
            nav.classList.toggle('show')
          })
        }
    }
    showMenu('nav-toggle','nav-menu')
</script>