---
const { namaskill, skillicon, persenskill } = Astro.props;
---

<div class="skills__data">
    <div class="skills__names">
        <i class=`bx bxl-${skillicon} skills__icon`></i>
        <span class="skills__name">{ namaskill }</span>
    </div>
    <div class="skills__bar skills__html">
    </div>
    <div>
        <span class="skills__percentage">{ persenskill }%</span>
    </div>
</div>