---
const { platform, username, namePlatform } = Astro.props;
---

<a href={`https://www.${platform}.com/${username}`} class="footer_platform">
    {`${namePlatform}`}
</a>

<style>
.footer_platform {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 var(--mb-2);
}
</style>