---

---
    <!--About-->
    <section class="about section " id="about">
        <h2 class="section-title">About</h2>

        <div class="about__container bd-grid">
            <div class="about__img">
                <img src="assets/img/about.png" alt="">
            </div>
            
            <div>
                <h2 class="about__subtitle">Introduce</h2>
                <p class="about__text">I am a graduate of Darmajaya Institute of Informatics and Business Bandar Lampung with a major in Information Systems. I am someone who enjoys challenges, can adapt well, learn new things quickly, and have good problem-solving skills.</p><br>           
                <p class="about__text">From my experience as a freelancer, I am able to work under pressure, build good relationships with clients, and manage time effectively.</p>           
            </div>                                   
        </div>
    </section>
