---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/styles.css';

const {pageTitle} = Astro.props;
---
<html lang="id">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
        <!-- Sumber icons -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>
    <Header />
    <slot />
    <Footer />
    <script src="https://unpkg.com/scrollreveal@4.0.9/dist/scrollreveal.js"></script>
    <script>
      import "../scripts/main.js";
      import "https://unpkg.com/scrollreveal"
    </script>
  </body>
</html>