---
import SkillData from '../components/SkillData.astro'
---

<div class="skills__side">
    <SkillData namaskill="HTML" skillicon="html5" persenskill="95"/>
    <SkillData namaskill="CSS" skillicon="php" persenskill="90"/>
    <SkillData namaskill="JS" skillicon="ts" persenskill="87"/>
</div>

<div class="skills__side">
    <SkillData namaskill="PHP" skillicon="html5" persenskill="95"/>
    <SkillData namaskill="CSS" skillicon="html5" persenskill="90"/>
    <SkillData namaskill="JS" skillicon="html5" persenskill="90"/>
</div>
