---
import SkillData from '../components/SkillData.astro'
---

<div class="skills__side">
    <SkillData namaskill="HTML" skillicon="html5" persenskill="95"/>
    <SkillData namaskill="CSS" skillicon="css3" persenskill="90"/>
    <SkillData namaskill="JS" skillicon="javascript" persenskill="80"/>
    <SkillData namaskill="BOOTSTRAP" skillicon="bootstrap" persenskill="90"/>
</div>

<div class="skills__side">
    <SkillData namaskill="REACTJS" skillicon="react" persenskill="85"/>
    <SkillData namaskill="PHP" skillicon="php" persenskill="95"/>
    <SkillData namaskill="CSS" skillicon="html5" persenskill="90"/>
    <SkillData namaskill="SOLIDITY" skillicon="javascript" persenskill="90"/>
</div>