---

---
    <!--Work-->
    <section class="work section" id="work">
        <h2 class="section-title">Work</h2>

        <div class="work__container bd-grid">
            <a href="https://www.behance.net/gallery/169828975/Automation-test-with-Selenium-on-portfolio-website" class="work__img">
                <img src="assets/img/work1.jpg" alt="Portfolio Selenium">
                <div class="work__overlay">
                    <h3 class="work__title">Automation test with Selenium on portfolio website</h3>
                </div>
            </a>
            <a href="https://project-saw.000webhostapp.com/" class="work__img">
                <img src="assets/img/work3.jpg" alt="Portfolio SPK">
                <div class="work__overlay">
                    <h3 class="work__title">Decision Support System using the Simple Additive Weighting</h3>
                </div>
            </a>
            <a href="https://github.com/khaideman/python-projects" class="work__img">
                <img src="assets/img/work2.jpg" alt="Portfolio Python">
                <div class="work__overlay">
                    <h3 class="work__title">Python projects</h3>
                </div>
            </a>
            <a href="" class="work__img">
                <img src="assets/img/work4.jpg" alt="">
            </a>
            <a href="" class="work__img">
                <img src="assets/img/work5.jpg" alt="">
            </a>
            <a href="" class="work__img">
                <img src="assets/img/work6.jpg" alt="">
            </a>
        </div>
    </section>
